* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    padding-top: 5rem;
    width: 100%;
    background-image: url("/Image/poster.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    text-decoration-line: none;
}

 /* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #dffeb1;
    box-shadow: #008000c0 0 5px 5px;
}

header, footer, #menu, section, section > div,
#content, #userCom, #formFrame, form {
    display: flex;
}

header, footer {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

header h1 {
    flex-basis: 70%;
}

header a {
    color: black;
}

#menu a {
    border: 1px solid green;
    margin: .2rem;
    padding: .5rem;
    border-radius: 15px / 0 50%;
    background-color: #90ee9080;
}

 /* home */

section {
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem auto;
}

article, #userProfile{
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    background-color: #cffd89;
}

#content h2 {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: green 1px solid;
}

#frameArt {
    font-size: 1.5rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid green;
}

#content div {
    margin: 1rem;
}

#content p {
    padding: 2rem;
    border-bottom: green 1px solid;
}

#content img {
    height: 60vh;
    width: auto;
}

#frameArt span {
    display: block;
}

#frameCom {
    padding: 1rem;
}

form {
    flex-direction: column;
}

#frameCom > div{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

#frameCom form input {
    margin: 1rem 0;
    padding: .2rem;
}

#userCom {
    padding: .5rem;
    align-items: center;
    background-color: white;
    border-top: green 1px dashed;
}

#userCom span {
    margin-right: 1rem;
}

footer {
    padding: 1rem 0;
    background: #cffd89;
    font-size: 1.5rem;
}

 /* form */

#formFrame {
    width: 40%;
    margin: 4% auto;
    background-color: #cffd89;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

#formFrame > div {
    margin: 1rem;
    background: white;
    border: 1px solid green;
}


#formFrame form input {
    margin: 2rem;
    padding: .5rem;
    border: green 1px dashed;
    background: #cffd8980;
}

#separator, #frameLogo {
    text-align: center;
}

#frameLogo img {
    padding: 1rem;
    width: 35%;
}

#separator img {
    height: 4rem;
}

#title {
    font-size: 1.5rem;
    padding: 2rem;
    justify-content: center;
}

#error {
    position: absolute;
    top : 8vh;
    left: 0;
    border: 1px solid darkgreen;
    width: 100%;
    padding: 1vh 0;
    background: #cffd89;
    font-size: 1.2rem;
    box-shadow: #008000c0 0 5px 5px;
}

/* profile */

#userProfile {
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

#userProfile div p {
    margin: 1rem 0;
}

#userProfile nav li {
    list-style-type: none;
    margin: 1rem 0;
}

